.HeaderPrincipal
{
    height: 10vh;
    background-color: greenyellow;
    font-family: "Montserrat", sans-serif;
}

.HeaderWork
{
    height: 10vh ;
    width: 100%;
    background-color: #3A8CED;
    font-family: "Montserrat", sans-serif;
}

/* HeaderStyle.css */
.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Esto alinea los elementos a la derecha */
  }
  
  .nav li {
    margin-left: 10px; /* Espacio entre elementos */
    margin-right: 10px;
  }
  
  .nav-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  .nav-button:hover {
    background-color: white;
    color: black
  }
  
  .dropdown-menu {
    position: absolute;
    background-color: #333;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    list-style-type: none;
  }
  
  .dropdown-menu li {
    color: white;
    padding: 5px 0;
  }
  
  .dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
 
